body {
	background: url(../icon_crucible.svg) #333 no-repeat;
	background: url(../images/trials1_paint.png) #333 no-repeat;
	background-size: cover;
}
body * {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	letter-spacing: .05em;
}

#brackets {

}
#brackets .round {
	width: 210px;
}
#brackets .teamContainer .team {
	width: 210px;
	height: 44px;
	font-size: 18px;
	background-color: #000;
}

#brackets .teamContainer .team .label {
	padding: 10px 7px 4px 7px; 
	width: 166px;
	height: 40px;
	font-weight: 600;
}

#brackets .teamContainer .team .score {
	padding: 5px 7px 3px 7px;
	width: 40px;
	height: 40px;
	font-size: 24px;
	font-weight: 600;
}

#brackets .teamContainer .team {
	margin-bottom: 4px;
	border: 2px solid #14191E;
}

#brackets .teamContainer .team .label {
	margin-right: 4px;
	background-color: #2A333E;
	color: #FEFEFE;
}
#brackets .teamContainer .team.win {
	border-color: #14191e;
}
#brackets .teamContainer .team.win .label {
	color: #FFCE1F;
}
#brackets .teamContainer .team.lose .label {
	
}

#brackets .teamContainer .team .score {
	background-color: #CCC;
	
}
#brackets .teamContainer .team.win .score {
	background-color: #0c1e3f;
	color: #FEFEFE;
}
#brackets .teamContainer .team.lose .score {
	background-color: #d64f24;
	color: #FEFEFE;
}

#brackets .teamContainer .team.highlight {
    border-color: #5AA56A;
}

#brackets .connector {
    border-width: 4px;
    border-color: #CCC;
}
#brackets .teamContainer > .connector > .connector {
	box-shadow: 2px 2px 2px #222;
}
#brackets .connector.highlightWinner {
    border-color: #FFCE1F;
}
#brackets .connector.highlight,
#brackets .connector div.connector.highlight {
    border-color: #5AA56A
}
#brackets .team .bubble {
	right: -38px;
    top: 8px;
}


#teams table, #teams table * {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	border-collapse: collapse;
}
#teams table th, #teams table td {
	margin: 0;
	padding: 0;
	border-right: 2px solid rgba(50, 50, 50, .3);
}
#teams table th {
	padding: 7px;
	min-width: 120px;
	text-align: left;
	color: #FEFEFE;
	background-color: #171c22; /*9F342F;*/
}
#teams table td {
	padding: 7px;
	min-width: 120px;
	background-color: #14191e;
	color: #9fa1a4;
	font-size: 13px;
	text-align: left;
}


